Repository learnclaude/scanningPipeline, changes with the owners that CODEOWNERS names for each.
All owners: @sivaDemo/core-team, @sivaDemo/frontend-team, @sivaDemo/backend-team, @sivaDemo/devops-team, @sivaDemo/docs-team, @sivaDemo/qa-team, @sivaDemo/security-team

CODEOWNERS:

# CODEOWNERS file for automatic review assignment
# Each line is a file pattern followed by one or more owners.

# Global owners - will be requested for review on all changes
* @sivaDemo/core-team

# Frontend code owners
/src/components/ @sivaDemo/frontend-team
/src/pages/ @sivaDemo/frontend-team
/src/styles/ @sivaDemo/frontend-team
/public/ @sivaDemo/frontend-team
*.tsx @sivaDemo/frontend-team
*.jsx @sivaDemo/frontend-team
*.css @sivaDemo/frontend-team
*.scss @sivaDemo/frontend-team

# Backend code owners
/src/api/ @sivaDemo/backend-team
/src/lib/ @sivaDemo/backend-team
/src/services/ @sivaDemo/backend-team
/src/utils/ @sivaDemo/backend-team
*.ts @sivaDemo/backend-team
*.js @sivaDemo/backend-team

# Configuration and DevOps
/.github/ @sivaDemo/devops-team
/docker/ @sivaDemo/devops-team
Dockerfile @sivaDemo/devops-team
docker-compose*.yml @sivaDemo/devops-team
*.yml @sivaDemo/devops-team
*.yaml @sivaDemo/devops-team

# Documentation
*.md @sivaDemo/docs-team
/docs/ @sivaDemo/docs-team

# Testing
/tests/ @sivaDemo/qa-team
/cypress/ @sivaDemo/qa-team
*.test.ts @sivaDemo/qa-team
*.test.tsx @sivaDemo/qa-team
*.spec.ts @sivaDemo/qa-team
*.spec.tsx @sivaDemo/qa-team

# Security-sensitive files
.env* @sivaDemo/security-team @sivaDemo/core-team
/src/auth/ @sivaDemo/security-team
/src/middleware/auth* @sivaDemo/security-team

# Package management
package.json @sivaDemo/core-team
package-lock.json @sivaDemo/core-team
yarn.lock @sivaDemo/core-team

# Build configuration
next.config.js @sivaDemo/core-team @sivaDemo/devops-team
tsconfig.json @sivaDemo/core-team
.eslintrc* @sivaDemo/core-team
.prettierrc* @sivaDemo/core-team

fix: Sync Docker container user with host user permissions
  .env.dev
  Dockerfile.dev
  Requirements/prompts.md
  docker-compose.dev.yml
Owners: @sivaDemo/security-team, @sivaDemo/core-team, @sivaDemo/docs-team, @sivaDemo/devops-team

feat: Configure nginx reverse proxy with internal Docker networking
  docker-compose.yml
  package.json
  src/components/FilenameGenerator.tsx
Owners: @sivaDemo/devops-team, @sivaDemo/core-team, @sivaDemo/frontend-team

feat: Configure Docker test environment with nginx proxy
  .env.test
  Dockerfile
  Dockerfile.test
  docker-compose.test.yml
  src/components/FilenameGenerator.tsx
Owners: @sivaDemo/security-team, @sivaDemo/core-team, @sivaDemo/devops-team, @sivaDemo/frontend-team

fix: Resolve CSS styling issues in staging environment
  docker-compose.staging.yml
  nginx/staging-simple.conf
Owners: @sivaDemo/devops-team, @sivaDemo/core-team

feat: Update production port to 18090
  docker-compose.prod.yml
Owners: @sivaDemo/devops-team

feat: Configure production environment for external access
  docker-compose.prod.yml
  nginx/production.conf
Owners: @sivaDemo/devops-team, @sivaDemo/core-team

feat: Implement multi-environment network isolation with dedicated subnets
  Requirements/git-cicd-requirements.md
  Requirements/network-architecture.md
  Requirements/repository-setup-prompts.md
  docker-compose.prod.yml
  docker-compose.staging.yml
  docker-compose.test.yml
  docker-compose.yml
  nginx/default.conf
  nginx/production.conf
  scripts/test-network-isolation.sh
Owners: @sivaDemo/docs-team, @sivaDemo/devops-team, @sivaDemo/core-team

feat: Implement environment-based configuration with unified port 18090
  .env.development
  .env.production
  .env.staging
  .env.test
  Requirements/appPrompts.md
  Requirements/environment-configuration.md
  Requirements/prompts.md
  docker-compose.yml
  scripts/start-environment.sh
Owners: @sivaDemo/security-team, @sivaDemo/core-team, @sivaDemo/docs-team, @sivaDemo/devops-team

feat: Implement sub-interface IP configuration for all environments
  .env.development
  .env.example
  config/network-config.json
  docker-compose.dev.yml
  docker-compose.staging.yml
  docker-compose.test.yml
  docker-compose.yml
  scripts/load-network-config.js
  scripts/setup-environment.sh
Owners: @sivaDemo/security-team, @sivaDemo/core-team, @sivaDemo/devops-team, @sivaDemo/backend-team

feat: Add comprehensive environment file integration and Docker automation
  .env.development
  .env.example
  .env.production
  .env.staging
  .env.test
  docker-compose.dev.yml
  docker-compose.staging.yml
  docker-compose.test.yml
  docker-compose.yml
  scripts/dev-docker.sh
  scripts/docker-manager.sh
  scripts/update-user-permissions.sh
Owners: @sivaDemo/security-team, @sivaDemo/core-team, @sivaDemo/devops-team
